@model Portfolio
@{
    ViewData["Title"] = "Detail";
}

<div class="col-4">
	<img src="~/assets/img/portfolio/@Model.Image" height="100px" /><br /><br />
	<a class="btn btn-info" asp-action="Index">Go Back!</a>
</div>

